<h1> The Picture You Clicked on: </h1>

<h2> <%= @picture[:location]  %> </h2>

<div>
  <a href="/"><img class = "fullsize" src="<%= @picture[:url] %>" alt="<%= @picture[:location] %>" />
  </a> <br>
  <%= @picture[:summary]  %>
</div
